<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="Db"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuanLyDuAn;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8"/>
	</system.web>

	<system.serviceModel>
		<services>
			<service name="MyApp.WcfService.Service1">
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="MyApp.WcfService.IService1" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>